@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px;
}

img {
  width: 100%;
}

/* Navabr */
.navbar .logo {
  font-weight: 400;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #333;
  color: #fff;
  opacity: 0.8;
  padding: 0 30px;
}

#navbar ul {
  display: flex;
  justify-content: space-evenly;
}

#navbar ul li a {
  color: #fff;
  /* Making spaces btween links */
  padding: 10px 20px;
  margin: 0 5px;
}

#navbar ul li a:hover {
  border-bottom: #28a745 2px solid;
}

/* Header */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  /* Becuse of overlay we need to set a postion as relative */
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* To center content on main axis we need to set height first */
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* Overlay */
.hero .content::before {
  /* We need content to overlay
  here we srt content as empty */
  content: '';
  /* For overlay its position is absolute becuase
  its parenrt's (.hero) position is relative */
  position: absolute;
  top: 0;
  left: 0;
  /* It needs width which and height which is
   related to width and height of its parent */
  width: 100%;
  height: 100%;
  /* to make it transparent we need to use rgrba 
  for background */
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  /* To make everything on top of overlay */
  z-index: 10;
}

/* Icons */
.icons {
  padding: 30px;
  margin-bottom: 15px;
}

.icons h3 {
  font-size: bold;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  /* Padding is changing a size of icon */
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}